<link href="{{=URL('static','css/div.css')}}" rel="stylesheet" type="text/css">

<div style="height:330px;width:1536px;background-color:#151515">
    <table>
        <tr>
            <td><img src="/iiithplacements/static/images/image9.jpg" alt="Image not available" height="440" width="490"></td>
            <td><img src="/iiithplacements/static/images/image6.gif" alt="Image not available" height="500" width="530"></td>
            <td><img src="/iiithplacements/static/images/image10.jpg" alt="Image not available" height="400" width="490"></td>
        </tr>
    </table>
</div>

{{extend 'layout.html'}}

<link href="{{=URL('static','css/index.css')}}" rel="stylesheet" type="text/css">
<link href="{{=URL('static','css/images.css')}}" rel="stylesheet" type="text/css">

<h2>
    Latest Placement Updates:
</h2>

<!--<img id="img" src="#" alt="No image available" width="400" height="300" style="float:left"/>-->
<script src="/iiithplacements/static/js/images.js" type="text/javascript"></script>

<div id="sliderFrame">
    <div id="slider">
        <img src="/iiithplacements/static/images/image.png" alt="" >
        <img src="/iiithplacements/static/images/image1.jpg" alt="" >
        <img src="/iiithplacements/static/images/image2.png" alt="" height="100">
        <img src="/iiithplacements/static/images/image3.jpg" alt="" >
    </div>
    <div class="group1-Wrapper">
            <a onclick="imageSlider.previous()" class="group1-Prev"></a>
            <a onclick="imageSlider.next()" class="group1-Next"></a>
        </div>
        <div style="text-align:center;padding:20px;z-index:20;">
            <a onclick="imageSlider.previous()" class="group2-Prev"></a>
            <a id='auto' onclick="switchAutoAdvance()"></a>
            <a onclick="imageSlider.next()" class="group2-Next"></a>
        </div>
</div>

<script type="text/javascript">
        function switchAutoAdvance() {
            imageSlider.switchAuto();
            switchPlayPauseClass();
        }
        function switchPlayPauseClass() {
            var auto = document.getElementById('auto');
            var isAutoPlay = imageSlider.getAuto();
            auto.className = isAutoPlay ? "group2-Pause" : "group2-Play";
            auto.title = isAutoPlay ? "Pause" : "Play";
        }
        switchPlayPauseClass();
</script>

{{for _ in range(3):}}
    <br>
{{pass}}
<h3>
    Some Key Facts about IIIT-H’s Placement:
</h3>
<h4>
    Dataquest’s All-India Rankings of IIIT-H over Past Nine Years
</h4>

<ul style="font-size:20px">
    <li>2014 --- Top 3 overall and top 1 on placement.</li>
    <li>2013 --- Top 3 overall and top 1 on placement.</li>
    <li>2012 --- Top 3 overall and top 1 on placement.</li>
    <li>2011 --- Top 5 overall and top 1 on placement.</li>
    <li>2010 --- Top 5 overall and top 3 on placement.</li>
    <li>2009 --- Top 7 overall and top 5 on placement.</li>
    <li>2008 --- Top 7 overall and top 3 on placement.</li>
    <li>2007 --- Top 9 overall and top 5 on placement.</li>
    <li>2006 --- Top 10 overall</li>
</ul>

<i style="font-size:20px">The rankings cover all premier engineering colleges in India, including the IITs.</i>
<br>
<br>
<i style="font-size:20px">In Placement 2010, IIIT-H has recorded in India the highest average compensation of Rs.9 lac for the undergraduate students.</i>
<br>
<br>
<i style="font-size:20px">IIIT-H’s Placement 2009 was ranked Top 2, and ahead of six IITs, with 100% placement and an average compensation of Rs.6.1 lac, the highest
    among all technology schools in the country, by Mint-Cfore carried out Best Engineering Colleges’ Survey 2009.</i>
<br>
<br>
<i style="font-size:20px">In 2008, IIIT-H’s placement was ranked Top 2, ahead of six IITs, with an average compensation of Rs.7.2 lac, which was the second highest in the
    country, just behind IIT-Kharagpur’s Rs.7.4 lac. (Outlook-Synovate’s Top Engineering Colleges Survey 2008)</i>
