<link href="{{=URL('static','css/div.css')}}" rel="stylesheet" type="text/css">

<div style="height:330px;width:1536px;background-color:#151515">
    <table>
        <tr>
            <td><img src="/iiithplacements/static/images/image9.jpg" alt="Image not available" height="440" width="490"></td>
            <td><img src="/iiithplacements/static/images/image6.gif" alt="Image not available" height="500" width="530"></td>
            <td><img src="/iiithplacements/static/images/image10.jpg" alt="Image not available" height="400" width="490"></td>
        </tr>
    </table>
</div>


{{extend 'layout.html'}}

{{=w}}

{{=q}}
