<link href="{{=URL('static','css/div.css')}}" rel="stylesheet" type="text/css">

<div style="height:330px;width:1536px;background-color:#151515">
    <table>
        <tr>
            <td><img src="/iiithplacements/static/images/image9.jpg" alt="Image not available" height="440" width="490"></td>
            <td><img src="/iiithplacements/static/images/image6.gif" alt="Image not available" height="500" width="530"></td>
            <td><img src="/iiithplacements/static/images/image10.jpg" alt="Image not available" height="400" width="490"></td>
        </tr>
    </table>
</div>


{{extend 'layout.html'}}

{{for i in table:}}
    {{if i.student_name==y:}}
    <div class="well">
        <h3>{{=i.student_name}}</h3>
        <br>
        {{s=i.profile_picture}}
        <img src="{{=URL('download',args=s)}}" height="300" width="400"/>
        <h3>Father's name : {{=i.father_name}}</h3>
        <h3>Mother's name : {{=i.mother_name}}</h3>
        <h3>Email : {{=i.e_mail}}</h3>
        <h3>Phone Number : {{=i.phone_number}}</h3>
        {{j=i.academic_qualifications}}
        <h3>Academic Qualification :</h3>
        {{for x in j:}}
            <h3>{{=x}}</h3>
        {{pass}}
        <form action="{{=URL('message_to_student',args=[y])}}">
            <input type="submit" value="send an invitation for internship">
        </form>
     </div>
    {{pass}}
{{pass}}
